Arduino/cad/free_assigment/node_red.txt
[{"id":"e1dd9500.719d58","type":"comment","z":"b7da4bf2.8612f8","name":"chipid eab916 으로 실험","info":"","x":210.01734924316406,"y":98.01041412353516,"wires":[]},{"id":"48aad4b9.8158ec","type":"mqtt out","z":"b7da4bf2.8612f8","name":"","topic":"syw2","qos":"","retain":"","broker":"2574eb5c.7c76c4","x":839.1006927490234,"y":269.01040744781494,"wires":[]},{"id":"de3754.516648b","type":"function","z":"b7da4bf2.8612f8","name":"findOne and update","func":"var newMsg = {};\nnewMsg.collection = 'ball_switch';\nnewMsg.operation  = 'findOneAndUpdate';\n\nif(msg.payload==\"safe 1\")\n{\nnewMsg.payload    = [{ 'chipid' : 'eab916'},{$set:{ 'power':1}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\n}\nelse\n{\nnewMsg.payload    = [{ 'chipid' : 'eab916'},{$set:{ 'power':0}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\n}\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":151.96185302734375,"y":254.51388549804688,"wires":[["1df1eed5.0b0b91"]]},{"id":"3d4a56eb.3fd81a","type":"inject","z":"b7da4bf2.8612f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.01734924316406,"y":169.47229194641113,"wires":[["de3754.516648b"]]},{"id":"d9b619c8.6b1748","type":"function","z":"b7da4bf2.8612f8","name":"쓰기","func":"if(msg.payload==\"safe 1\")\nmsg.payload=\"{\\\"chipid\\\":\\\"eab916\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+1+\"}\";\nelse\nmsg.payload=\"{\\\"chipid\\\":\\\"eab916\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+0+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":437.10070419311523,"y":391.01041984558105,"wires":[[]]},{"id":"43dd534e.fefeec","type":"debug","z":"b7da4bf2.8612f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":689.100700378418,"y":384.0104103088379,"wires":[]},{"id":"59638d86.b7b0b4","type":"mqtt in","z":"b7da4bf2.8612f8","name":"","topic":"syw1","qos":"2","datatype":"auto","broker":"ab5e7f2f.99227","x":65.10069274902344,"y":374.01039123535156,"wires":[["de3754.516648b"]]},{"id":"2e862669.4365aa","type":"ui_text","z":"b7da4bf2.8612f8","group":"622a7bd8.9f26a4","order":0,"width":0,"height":0,"name":"","label":"ball data","format":"{{msg.payload}}","layout":"col-center","x":656.1007232666016,"y":133.01041412353516,"wires":[]},{"id":"1df1eed5.0b0b91","type":"mongodb2 in","z":"b7da4bf2.8612f8","service":"_ext_","configNode":"94e652bb.8f7f8","name":"","collection":"ball_switch","operation":"findOneAndUpdate","x":464.96185302734375,"y":257.51387786865234,"wires":[["43dd534e.fefeec","2e862669.4365aa","48aad4b9.8158ec"]]},{"id":"2574eb5c.7c76c4","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab5e7f2f.99227","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"622a7bd8.9f26a4","type":"ui_group","z":0,"name":"로터리 제어 ","tab":"f5124a07.c71df8","order":1,"disp":true,"width":"6","collapse":false},{"id":"94e652bb.8f7f8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"f5124a07.c71df8","type":"ui_tab","z":0,"name":"Tab 1","icon":"dashboard","order":1}]
