flows.json
[{"id":"df608934.ea8a08","type":"mqtt out","z":"e128a9e.0281d58","name":"","topic":"syw2","qos":"","retain":"","broker":"16a57eb6.223861","x":828.98974609375,"y":224.99996948242188,"wires":[]},{"id":"ac0e6592.dbea28","type":"function","z":"e128a9e.0281d58","name":"findOne and update","func":"var newMsg = {};\nnewMsg.collection = 'data';\nnewMsg.operation  = 'findOneAndUpdate';\n\nif(msg.payload==\"cw\")\n{\nnewMsg.payload    = [{ 'chipid' : 'eab916'},{$set:{ 'power':1}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\n}\nelse\n{\nnewMsg.payload    = [{ 'chipid' : 'eab916'},{$set:{ 'power':0}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\n}\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":250.86814880371094,"y":228.00001525878906,"wires":[["4faad122.a65f3"]]},{"id":"735fde00.eeb69","type":"inject","z":"e128a9e.0281d58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.92364501953125,"y":174.95835876464844,"wires":[["ac0e6592.dbea28"]]},{"id":"4faad122.a65f3","type":"mongodb2 in","z":"e128a9e.0281d58","service":"_ext_","configNode":"e98828be.2bc688","name":"","collection":"rotary","operation":"findOneAndUpdate","x":483.8681335449219,"y":230,"wires":[["8ae5576c.95a6e8","5a2c8c00.4517a4","8fec0f54.03141"]]},{"id":"8ae5576c.95a6e8","type":"function","z":"e128a9e.0281d58","name":"쓰기","func":"if(msg.payload==\"cw\")\nmsg.payload=\"{\\\"chipid\\\":\\\"eab916\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+1+\"}\";\nelse\nmsg.payload=\"{\\\"chipid\\\":\\\"eab916\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+0+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":696.9410400390625,"y":226,"wires":[["df608934.ea8a08"]]},{"id":"5589bf22.372e1","type":"comment","z":"e128a9e.0281d58","name":"chipid eab916 으로 실험","info":"","x":119.00698852539062,"y":44.49652099609375,"wires":[]},{"id":"b141580e.52c9f8","type":"comment","z":"e128a9e.0281d58","name":"수동프로그램, manual program","info":"","x":157,"y":95.50341796875,"wires":[]},{"id":"5a2c8c00.4517a4","type":"debug","z":"e128a9e.0281d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720.8681640625,"y":315,"wires":[]},{"id":"fea984a9.5c9a08","type":"mqtt in","z":"e128a9e.0281d58","name":"","topic":"syw1","qos":"2","datatype":"auto","broker":"36e60e33.7a8bd2","x":68,"y":291,"wires":[["ac0e6592.dbea28"]]},{"id":"8fec0f54.03141","type":"ui_text","z":"e128a9e.0281d58","group":"118d3741.3e5899","order":0,"width":0,"height":0,"name":"","label":"rotary data","format":"{{msg.payload}}","layout":"col-center","x":717,"y":114,"wires":[]},{"id":"16a57eb6.223861","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e98828be.2bc688","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"36e60e33.7a8bd2","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfg","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"118d3741.3e5899","type":"ui_group","z":"","name":"로터리 제어 ","tab":"7618700f.232d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"7618700f.232d8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]