rotary/nodered
[{"id":"8fe174f3.d51648","type":"tab","label":"로터리센서 RGB 몽고디비제어","disabled":false,"info":""},{"id":"bce89dbe.242ec","type":"mqtt out","z":"8fe174f3.d51648","name":"","topic":"syw2","qos":"","retain":"","broker":"6e93527e.78434c","x":830,"y":180,"wires":[]},{"id":"ada3628e.830cc","type":"function","z":"8fe174f3.d51648","name":"findOne and update","func":"var newMsg = {};\nnewMsg.collection = 'rotary';\nnewMsg.operation  = 'findOneAndUpdate';\n\nif(msg.payload==\"cw\")\n{\nnewMsg.payload    = [{ 'chipid' : 'eab916'},{$set:{ 'data':'blue'}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\n}\nelse\n{\nnewMsg.payload    = [{ 'chipid' : 'eab916'},{$set:{ 'data':'red'}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\n}\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":245.8611602783203,"y":197.50347900390625,"wires":[["5ac414d4.3f4dac"]]},{"id":"9eaa6720.2476d8","type":"inject","z":"8fe174f3.d51648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.91665649414062,"y":142.46185302734375,"wires":[["ada3628e.830cc"]]},{"id":"5ac414d4.3f4dac","type":"mongodb2 in","z":"8fe174f3.d51648","service":"_ext_","configNode":"df6354dd.031478","name":"","collection":"rotary","operation":"findOneAndUpdate","x":490.86114501953125,"y":196.50347900390625,"wires":[["dbc360cd.2c749","84d6e2aa.6bcbf","bce89dbe.242ec"]]},{"id":"e259f04c.8d695","type":"function","z":"8fe174f3.d51648","name":"쓰기","func":"if(msg.payload=='cw')\nmsg.payload=\"{\\\"chipid\\\":\\\"eab916\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"data\\\":\\\"blue\\\"\\}\";\nelse\nmsg.payload=\"{\\\"chipid\\\":\\\"eab916\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"data\\\":\\\"red\\\"\\}\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["bce89dbe.242ec"]]},{"id":"5f1ed5cf.a7bb6c","type":"comment","z":"8fe174f3.d51648","name":"chipid eab916 으로 실험","info":"","x":147,"y":27,"wires":[]},{"id":"dbc360cd.2c749","type":"debug","z":"8fe174f3.d51648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":320,"wires":[]},{"id":"bedbb1f.54aac5","type":"mqtt in","z":"8fe174f3.d51648","name":"","topic":"syw1","qos":"2","datatype":"auto","broker":"485b3ff4.0e67f","x":150,"y":300,"wires":[["ada3628e.830cc","e259f04c.8d695"]]},{"id":"84d6e2aa.6bcbf","type":"ui_text","z":"8fe174f3.d51648","group":"344bf547.b35fca","order":0,"width":0,"height":0,"name":"","label":"rotary data","format":"{{msg.payload}}","layout":"col-center","x":770,"y":80,"wires":[]},{"id":"f61a44ec.adc448","type":"mongodb2 in","z":"8fe174f3.d51648","service":"_ext_","configNode":"b03fbbf1.d721e8","name":"","collection":"","operation":"find.toArray","x":260,"y":420,"wires":[[]]},{"id":"6e93527e.78434c","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df6354dd.031478","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"485b3ff4.0e67f","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"344bf547.b35fca","type":"ui_group","z":"","name":"로터리 제어 ","tab":"5653d255.2ff9ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"b03fbbf1.d721e8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"5653d255.2ff9ec","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
