Arduino/3-2/flows.json
[{"id":"3fb8fc36.89eb84","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"dc18eaea.6c2828","type":"ui_switch","z":"3fb8fc36.89eb84","name":"","label":"P40","tooltip":"","group":"a026721b.58e3","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150,"y":500,"wires":[["400518b.be82ae8"]]},{"id":"d6a92732.ef8508","type":"ui_switch","z":"3fb8fc36.89eb84","name":"","label":"P41","tooltip":"","group":"a026721b.58e3","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":149.99999237060547,"y":553.000020980835,"wires":[["4c4fcdb7.a4d344"]]},{"id":"525636b2.7da5c8","type":"ui_switch","z":"3fb8fc36.89eb84","name":"","label":"P42","tooltip":"","group":"a026721b.58e3","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":147.99999237060547,"y":613.000020980835,"wires":[["8c3ed389.56983"]]},{"id":"9337462f.fcf438","type":"ui_switch","z":"3fb8fc36.89eb84","name":"","label":"P43","tooltip":"","group":"a026721b.58e3","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":146.99999237060547,"y":664.000020980835,"wires":[["5acd1736.1e0508"]]},{"id":"400518b.be82ae8","type":"function","z":"3fb8fc36.89eb84","name":"to global variable","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":316.9803924560547,"y":498.9961338043213,"wires":[["5b6cfb1b.e33c94"]]},{"id":"4c4fcdb7.a4d344","type":"function","z":"3fb8fc36.89eb84","name":"to global variable","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":315.9803924560547,"y":551.9961338043213,"wires":[["5b6cfb1b.e33c94"]]},{"id":"8c3ed389.56983","type":"function","z":"3fb8fc36.89eb84","name":"to global variable","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":317.9803924560547,"y":610.9961338043213,"wires":[["5b6cfb1b.e33c94"]]},{"id":"5acd1736.1e0508","type":"function","z":"3fb8fc36.89eb84","name":"to global variable","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":312.9804153442383,"y":661.9961404800415,"wires":[["5b6cfb1b.e33c94"]]},{"id":"5b6cfb1b.e33c94","type":"function","z":"3fb8fc36.89eb84","name":"encorder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\n\nvar command=p40+p41*2+p42*4+p43*8;\n\nvar msg2={},msg16={};\nmsg2.payload=command.toString(2);\nmsg.payload=command.toString(10);\nmsg16.payload=command.toString(16);\nreturn [msg2,msg,msg16];","outputs":3,"noerr":0,"x":640,"y":260,"wires":[["25cc7449.b564cc"],["52227059.b35e3"],["bbdd9598.ab7738","9df71365.40e78"]]},{"id":"25cc7449.b564cc","type":"ui_text","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":5,"width":0,"height":0,"name":"","label":"2진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":846.0659866333008,"y":208.57985877990723,"wires":[]},{"id":"52227059.b35e3","type":"ui_text","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":6,"width":0,"height":0,"name":"","label":"10진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":847.9999923706055,"y":251.99998664855957,"wires":[]},{"id":"bbdd9598.ab7738","type":"ui_text","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":7,"width":0,"height":0,"name":"","label":"16진수 출력","format":"{{msg.payload}}","layout":"row-spread","x":846.9999923706055,"y":298.99998664855957,"wires":[]},{"id":"2f028d8e.cb36a2","type":"function","z":"3fb8fc36.89eb84","name":"2진수로 정리","func":"var hex=msg.payload;\nhex = hex.substring(13,14);\nvar dec=parseInt(hex).toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["31a0a94b.ce55c6"]]},{"id":"31a0a94b.ce55c6","type":"function","z":"3fb8fc36.89eb84","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"x":659.0382995605469,"y":411.9617872238159,"wires":[["db62ff8b.a6452","401ca9c9.7a8b88"],["9abdb6e1.646d28","401ca9c9.7a8b88"],["19d3681.8321098","401ca9c9.7a8b88"],["2e055d6b.1d1bd2","401ca9c9.7a8b88"]]},{"id":"db62ff8b.a6452","type":"ui_led","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":8,"width":"","height":"","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p00","x":847.0452117919922,"y":378.000039100647,"wires":[]},{"id":"9abdb6e1.646d28","type":"ui_led","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":9,"width":"","height":"","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p01","x":848.9827461242676,"y":420.10757541656494,"wires":[]},{"id":"19d3681.8321098","type":"ui_led","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":10,"width":"","height":"","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p02","x":848.9827461242676,"y":460.10757541656494,"wires":[]},{"id":"2e055d6b.1d1bd2","type":"ui_led","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":11,"width":"","height":"","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p03","x":848.9827461242676,"y":499.10760593414307,"wires":[]},{"id":"9df71365.40e78","type":"function","z":"3fb8fc36.89eb84","name":"write","func":"msg.payload='\\u0005'+\"00WSS0104%PW4000\"+msg.payload+'\\u0004';  \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":240,"wires":[["1a83a23f.04182e"]]},{"id":"987bfe57.7b57","type":"debug","z":"3fb8fc36.89eb84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1319.000015258789,"y":237.99998378753662,"wires":[]},{"id":"1a83a23f.04182e","type":"serial request","z":"3fb8fc36.89eb84","name":"","serial":"c10bae09.e929f","x":1149.000015258789,"y":237.99998378753662,"wires":[["987bfe57.7b57"]]},{"id":"698809d7.76a178","type":"function","z":"3fb8fc36.89eb84","name":"read","func":"msg.payload='\\u0005'+\"00RSS0104%PW0\"+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["ab02d7b0.6788a8"]]},{"id":"ab02d7b0.6788a8","type":"serial request","z":"3fb8fc36.89eb84","name":"","serial":"c10bae09.e929f","x":460,"y":320,"wires":[["2f028d8e.cb36a2","5b6cfb1b.e33c94","d12adb83.4d3718"]]},{"id":"918d36a6.7d8618","type":"inject","z":"3fb8fc36.89eb84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["698809d7.76a178"]]},{"id":"ee204ba9.714f68","type":"ui_led","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":12,"width":"","height":"","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p04","x":850,"y":540,"wires":[]},{"id":"c2f94d7a.e525e","type":"function","z":"3fb8fc36.89eb84","name":"decorder","func":"var out=[];\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3]];\n","outputs":4,"noerr":0,"x":660,"y":500,"wires":[["ee204ba9.714f68"],["66b8e295.5d2b4c"],[],[]]},{"id":"66b8e295.5d2b4c","type":"ui_led","z":"3fb8fc36.89eb84","group":"a026721b.58e3","order":13,"width":"","height":"","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p05","x":850,"y":580,"wires":[]},{"id":"401ca9c9.7a8b88","type":"debug","z":"3fb8fc36.89eb84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":680,"wires":[]},{"id":"d12adb83.4d3718","type":"function","z":"3fb8fc36.89eb84","name":"2진수로 정리","func":"var hex=msg.payload;\nhex = hex.substring(12,13);\nvar dec=parseInt(hex).toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"0000\"+bin;\nbin = bin.slice(-4);\nmsg.payload=bin;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["c2f94d7a.e525e"]]},{"id":"a026721b.58e3","type":"ui_group","z":"","name":"PLC Testing","tab":"1f0489fa.259236","order":1,"disp":true,"width":"9","collapse":false},{"id":"c10bae09.e929f","type":"serial-port","z":"","serialport":"COM13","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"300","bin":"false","out":"time","addchar":"false","responsetimeout":"1000"},{"id":"1f0489fa.259236","type":"ui_tab","z":"","name":"Tab","icon":"dashboard","order":0,"disabled":false,"hidden":false}]