Arduino/3-2/myhome_light
[{"id":"f41a56bc.ceabd8","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"fb1e57a9.501158","type":"firebase in","z":"f41a56bc.ceabd8","name":"myhome","ref":"/data","dataAtStart":true,"admin":"f5cbaab1.37ceb8","x":300,"y":160,"wires":[["4ba381fc.f29f2","e462969d.618e88","d3469fc8.7449d"]]},{"id":"51de6cd3.9463e4","type":"ui_switch","z":"f41a56bc.ceabd8","name":"","label":"안방","tooltip":"","group":"b0bb98e2.37f8b8","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-refresh fa-spin","oncolor":"lime","offvalue":"0","offvalueType":"num","officon":"fa-arrow-circle-down","offcolor":"gray","x":570,"y":220,"wires":[[]]},{"id":"e462969d.618e88","type":"function","z":"f41a56bc.ceabd8","name":"","func":"msg.payload=msg.payload.on;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["51de6cd3.9463e4"]]},{"id":"4ba381fc.f29f2","type":"debug","z":"f41a56bc.ceabd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"7cc6cda6.925394","type":"mongodb2 in","z":"f41a56bc.ceabd8","service":"_ext_","configNode":"f6d77c9a.001be","name":"local/light","collection":"","operation":"","x":540,"y":280,"wires":[[]]},{"id":"d3469fc8.7449d","type":"function","z":"f41a56bc.ceabd8","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'light';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'name' : msg.payload.name}, {$set:{ 'on':msg.payload.on}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["7cc6cda6.925394"]]},{"id":"f5cbaab1.37ceb8","type":"firebase admin","z":"","name":"kalran"},{"id":"b0bb98e2.37f8b8","type":"ui_group","z":"","name":"myhome","tab":"28f075b.325238a","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6d77c9a.001be","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/local","name":"local","options":"","parallelism":"-1"},{"id":"28f075b.325238a","type":"ui_tab","z":"","name":"Tab","icon":"dashboard","order":0,"disabled":false,"hidden":false}]
