Arduino/capston/6th/ibm_node_red.txt
[{"id":"a8e892b0.fe2e1","type":"ui_switch","z":"43b570f.c76d59","name":"","label":"switch","tooltip":"","group":"eb57c7de.83ef58","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":93,"y":116,"wires":[["d1dfd07a.a78c9","3f776351.627b9c"]]},{"id":"d1dfd07a.a78c9","type":"function","z":"43b570f.c76d59","name":"","func":"\n\nif(msg.payload==1)\nmsg.payload=\"{\\\"chipid\\\":\\\"5697f7\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+1+\"}\";\nelse\nmsg.payload=\"{\\\"chipid\\\":\\\"5697f7\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+0+\"}\";\nreturn msg;\n","outputs":1,"noerr":0,"x":283,"y":111,"wires":[["6a8167a5.eacf38","3f776351.627b9c"]]},{"id":"6a8167a5.eacf38","type":"mqtt out","z":"43b570f.c76d59","name":"","topic":"syw4","qos":"","retain":"","broker":"c284dd98.a8655","x":470,"y":109,"wires":[]},{"id":"3f776351.627b9c","type":"debug","z":"43b570f.c76d59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":469,"y":42,"wires":[]},{"id":"eb57c7de.83ef58","type":"ui_group","z":0,"name":"group1","tab":"d35a7dce.a0df2","disp":true,"width":"6","collapse":false},{"id":"c284dd98.a8655","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d35a7dce.a0df2","type":"ui_tab","z":0,"name":"tap1","icon":"dashboard","disabled":false,"hidden":false}]
