Arduino/capston/6th/raspberry_node_red.txt
[{"id":"ab9ed363.6d8c5","type":"mqtt in","z":"ddf9fa6f.a11038","name":"","topic":"syw1","qos":"2","datatype":"auto","broker":"ddd18fe0.333aa","x":112,"y":170,"wires":[["e86c2b20.e6b978","15cccefd.080201","d39556a0.360cd8"]]},{"id":"d39556a0.360cd8","type":"debug","z":"ddf9fa6f.a11038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340.99993896484375,"y":73,"wires":[]},{"id":"e86c2b20.e6b978","type":"function","z":"ddf9fa6f.a11038","name":"set location","func":"if(msg.payload>=800)\nmsg.payload={\n    name:\"syw\",\n    lat:\"37.61\",\n    lon:\"126.8\",\n    icon:\"power-off\",\n    iconColor:\"red\"\n};\nelse\nmsg.payload={\n    name:\"syw\",\n    lat:\"37.61\",\n    lon:\"126.8\",\n    icon:\"power-off\",\n    iconColor:\"gray\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":323.9340515136719,"y":170.17706298828125,"wires":[["83ae3771.2b0028"]]},{"id":"83ae3771.2b0028","type":"worldmap","z":"ddf9fa6f.a11038","name":"","lat":"37.61","lon":"126.8","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/worldmap","x":548.9931030273438,"y":150.12164306640625,"wires":[]},{"id":"15cccefd.080201","type":"function","z":"ddf9fa6f.a11038","name":"sensor","func":"if(msg.payload>=800)\nmsg.payload=\"{\\\"chipid\\\":\\\"5697f7\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+1+\"}\";\nelse\nmsg.payload=\"{\\\"chipid\\\":\\\"5697f7\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+0+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":248,"wires":[["1b6e351a.fda10b","5470f6b6.4fa308"]]},{"id":"1b6e351a.fda10b","type":"mqtt out","z":"ddf9fa6f.a11038","name":"","topic":"syw4","qos":"","retain":"","broker":"73a59500.ef8eac","x":528,"y":244,"wires":[]},{"id":"5470f6b6.4fa308","type":"debug","z":"ddf9fa6f.a11038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":517,"y":360,"wires":[]},{"id":"b7b34568.df5cb8","type":"comment","z":"ddf9fa6f.a11038","name":"월드맵","info":"","x":118,"y":81,"wires":[]},{"id":"ddd18fe0.333aa","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73a59500.ef8eac","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
