Arduino/sonoff/5cha/node-red.txt
[{"id":"8d5159e2.00a608","type":"comment","z":"e5b7ce3a.6affd","name":"조도센서","info":"","x":109.01738357543945,"y":20,"wires":[]},{"id":"79d48a22.ea7ec4","type":"comment","z":"e5b7ce3a.6affd","name":"월드맵","info":"","x":111.0173454284668,"y":484.01041412353516,"wires":[]},{"id":"7fc08d17.0a8884","type":"mqtt out","z":"e5b7ce3a.6affd","name":"","topic":"syw4","qos":"","retain":"","broker":"cfd846c6.d9c158","x":590.0173492431641,"y":695.5138578414917,"wires":[]},{"id":"7448d0e5.4560b","type":"ui_text_input","z":"e5b7ce3a.6affd","name":"","label":"name(chip ID)","tooltip":"","group":"d8630b9b.edc338","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":451.0205421447754,"y":133.9965009689331,"wires":[["57cef8b9.357228"]]},{"id":"57cef8b9.357228","type":"function","z":"e5b7ce3a.6affd","name":"","func":"global.set(\"chipid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":614.0309867858887,"y":134.14580821990967,"wires":[[]]},{"id":"1d03f07d.ee8ff","type":"comment","z":"e5b7ce3a.6affd","name":"chipid  : writed in sonoff","info":"search wifi in smartphone : i2r_ap_[6 characters]\nd5a5b3","x":149.0344352722168,"y":120,"wires":[]},{"id":"a70213db.f77ae","type":"comment","z":"e5b7ce3a.6affd","name":"Referance YouTube : https://www.youtube.com/watch?v=rDy3MZfA-oA  ","info":"","x":303.0274314880371,"y":183.00340747833252,"wires":[]},{"id":"f537a89e.76f478","type":"ui_switch","z":"e5b7ce3a.6affd","name":"","label":"Chip Id power","tooltip":"","group":"d8630b9b.edc338","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":141.9684600830078,"y":288.51384830474854,"wires":[["932d1782.9ddea8"]]},{"id":"932d1782.9ddea8","type":"function","z":"e5b7ce3a.6affd","name":"findOneAndUpdate","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chipid' : chipid}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":336.9685363769531,"y":288.5139150619507,"wires":[["460e7040.e3ea7"]]},{"id":"460e7040.e3ea7","type":"mongodb2 in","z":"e5b7ce3a.6affd","service":"_ext_","configNode":"db65144e.2862c8","name":"","collection":"sonoff","operation":"","x":518.9684906005859,"y":288.5139436721802,"wires":[["9e33b6e4.2fbe68","d5caf195.9821e"]]},{"id":"f949aa58.dc0488","type":"ui_switch","z":"e5b7ce3a.6affd","name":"","label":"Total power on/off","tooltip":"","group":"d8630b9b.edc338","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150.9684295654297,"y":340.51385593414307,"wires":[["c2678afa.7db768"]]},{"id":"c2678afa.7db768","type":"function","z":"e5b7ce3a.6affd","name":"updateMany","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'updateMany';\nnewMsg.payload    = [{ 'name' : \"light\"}, {$set:{ 'power':msg.payload}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":336.9684371948242,"y":340.51386547088623,"wires":[["460e7040.e3ea7"]]},{"id":"86b7657b.abf988","type":"function","z":"e5b7ce3a.6affd","name":"find.toArray","func":"var newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = { 'name' : 'light' };\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":287.96834564208984,"y":410.5553970336914,"wires":[["608b0449.5707fc"]]},{"id":"608b0449.5707fc","type":"mongodb2 in","z":"e5b7ce3a.6affd","service":"_ext_","configNode":"db65144e.2862c8","name":"","collection":"sonoff","operation":"","x":452.98567962646484,"y":413.5553970336914,"wires":[["f2a86e29.364fc"]]},{"id":"f2a86e29.364fc","type":"function","z":"e5b7ce3a.6affd","name":"Set Data as Global Variable","func":"for (var i = 0; i < msg.payload.length; i++) \n    global.set(\"selected\"[i], msg.payload[i]);\nglobal.set(\"no\",0);\nglobal.set(\"length\",msg.payload.length);\nreturn  msg;","outputs":1,"noerr":0,"x":708.9856185913086,"y":409.5553970336914,"wires":[["da31da4f.fa12d8"]]},{"id":"8c3d083c.b019d8","type":"function","z":"e5b7ce3a.6affd","name":"send Global Vriable to Mqtt","func":"var no=global.get(\"no\")||0;\nvar length=global.get(\"length\")||0;\nif(no<length) {\n    msg.payload=global.get(\"selected\"[no]);\n    var newMsg ={};\n    newMsg.payload={\"chipid\":msg.payload.chipid,\"act\":\"write\",\"power\":msg.payload.power};\n    no+=1;\n    global.set(\"no\",no);\n    return  newMsg;\n}","outputs":1,"noerr":0,"x":390.02758407592773,"y":695.2672414779663,"wires":[["7fc08d17.0a8884"]]},{"id":"63e8303b.96ea5","type":"inject","z":"e5b7ce3a.6affd","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":170.96843338012695,"y":695.5137777328491,"wires":[["8c3d083c.b019d8"]]},{"id":"9e33b6e4.2fbe68","type":"delay","z":"e5b7ce3a.6affd","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":125.02049255371094,"y":411.1874752044678,"wires":[["86b7657b.abf988"]]},{"id":"da31da4f.fa12d8","type":"link out","z":"e5b7ce3a.6affd","name":"","links":["54603519.a9a25c"],"x":879.0240097045898,"y":405.02774810791016,"wires":[]},{"id":"7e954875.af7888","type":"worldmap","z":"e5b7ce3a.6affd","name":"","lat":"37.6","lon":"126.7","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/world","x":350.0240364074707,"y":531.6910400390625,"wires":[]},{"id":"a68a1004.b716d","type":"function","z":"e5b7ce3a.6affd","name":"Draw world","func":"var no=global.get(\"no\")||0;\nvar length=global.get(\"length\")||0;\nvar newMsg ={};\nvar retMsg =[];\n\nfor (var i = 0; i < length; i++) {\n    msg.payload=global.get(\"selected\"[i]);\n    var color;\n    if(msg.payload.power==1)\n        color = 'red';\n    else\n        color = 'black';\n    newMsg.payload =  {\n        name:msg.payload.chipid,\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        icon:\"power-off\",\n        iconColor:color\n    };\n    retMsg.push(newMsg.payload);\n}\nmsg.payload = retMsg;\nreturn  msg;\n","outputs":1,"noerr":0,"x":207.96847915649414,"y":532.513843536377,"wires":[["7e954875.af7888"]]},{"id":"54603519.a9a25c","type":"link in","z":"e5b7ce3a.6affd","name":"","links":["da31da4f.fa12d8"],"x":95.03437614440918,"y":530.364559173584,"wires":[["a68a1004.b716d"]]},{"id":"42902479.9b878c","type":"worldmap in","z":"e5b7ce3a.6affd","name":"","path":"/world","x":131.02744674682617,"y":613.6423244476318,"wires":[["1f2b6571.2c19cb"]]},{"id":"1f2b6571.2c19cb","type":"function","z":"e5b7ce3a.6affd","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'chipid' : msg.payload.name};\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":294.96843338012695,"y":613.5138053894043,"wires":[["1c39de83.e928c1"]]},{"id":"1c39de83.e928c1","type":"mongodb2 in","z":"e5b7ce3a.6affd","service":"_ext_","configNode":"db65144e.2862c8","name":"","collection":"sonoff","operation":"","x":446.96837997436523,"y":613.5138072967529,"wires":[["9231cd22.b4bce"]]},{"id":"9231cd22.b4bce","type":"function","z":"e5b7ce3a.6affd","name":"Update Power Data ","func":"if(msg.payload.power==1)\n    msg.payload.power=0;\nelse\n    msg.payload.power=1;\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chipid' : msg.payload.chipid}, {$set:{ 'power':msg.payload.power}} ];\nnewMsg.projection = { 'chipid' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":631.034366607666,"y":614.2673740386963,"wires":[["27324b53.4d0d54"]]},{"id":"27324b53.4d0d54","type":"mongodb2 in","z":"e5b7ce3a.6affd","service":"_ext_","configNode":"db65144e.2862c8","name":"","collection":"sonoff","operation":"","x":808.9683456420898,"y":617.5138931274414,"wires":[["86b7657b.abf988"]]},{"id":"384e431b.62f17c","type":"comment","z":"e5b7ce3a.6affd","name":"동시제어,단일제어","info":"","x":147.01738357543945,"y":77,"wires":[]},{"id":"d5caf195.9821e","type":"debug","z":"e5b7ce3a.6affd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":714.0173568725586,"y":264.01041412353516,"wires":[]},{"id":"13e7adfd.b2eb52","type":"debug","z":"e5b7ce3a.6affd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":501.01739501953125,"y":216.01042938232422,"wires":[]},{"id":"3b41832e.705adc","type":"mqtt in","z":"e5b7ce3a.6affd","name":"","topic":"syw1","qos":"2","datatype":"auto","broker":"36e60e33.7a8bd2","x":132.07644271850586,"y":221.94447135925293,"wires":[["9243c80c.1cdc58","13e7adfd.b2eb52"]]},{"id":"9243c80c.1cdc58","type":"function","z":"e5b7ce3a.6affd","name":"updateMany","func":"var chipid=global.get(\"chipid\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'sonoff';\nnewMsg.operation  = 'updateMany';\nif(msg.payload>950)\n    newMsg.payload    = [{ 'name' :(\"light\")}, {$set:{ 'power':1}} ];\nelse\n    newMsg.payload    = [{ 'name' : (\"light\")}, {$set:{ 'power':0}} ];\nnewMsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":316.01737213134766,"y":236.01043701171875,"wires":[["460e7040.e3ea7"]]},{"id":"cfd846c6.d9c158","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8630b9b.edc338","type":"ui_group","z":"","name":"Sonoff DB 제어","tab":"900288f9.f76578","order":1,"disp":true,"width":"6","collapse":false},{"id":"db65144e.2862c8","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/aa","name":"aa","options":"","parallelism":""},{"id":"36e60e33.7a8bd2","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfg","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"900288f9.f76578","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
